.headerWrapper {
    background: white;
    border-radius: 10px;

    padding: 14px;

    display: flex;
}

.links {
    width: fit-content;
    margin: 0 auto;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.linkItem {
    text-decoration: none;
    color: #6B7280;

    margin-right: 36px;
}

.activeLink {
    color: #9333EA;
}

.btns {
    max-height: 21px;
    position: relative;
}

.linkBtn {
    width: 21px;
    height: 21px;
    position: absolute;
    right: 0;
}

.linkBtn::after {
    background: url("../../assets/imgs/profileIcon.svg") no-repeat;
    background-size: 21px 21px;
    display: inline-block;

    width: 21px;
    height: 21px;

    content: "";

}

.linkItem:last-child {
    margin-right: 0;
}
