.taskItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.taskItem:last-child {
    margin-bottom: 0;
}

.title {
    color: #404040;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    margin: 0;
    display: inline;
}

.title.completed {
    text-decoration: line-through;
    opacity: .70;
}

/*completed*/
.checkboxContainer {
    position: relative;
    padding-left: 35px;
}
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 24px;
    width: 24px;

    border-radius: 12px;
    background-color: #F3F3F3;
}
.checkmark:hover {
    background-color: #e1e1e1;
}
.checkboxContainer input:checked ~ .checkmark {
    background-color: #404040;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}
.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;

    margin: 5px 0 0;
}

.btnContainer {
    cursor: pointer;
    margin-right: 20px;
}

.btnDot {
    background: #6B7280;
    width: 5px;
    height: 5px;
    margin-bottom: 3px;
    border-radius: 2px;
}
.btnDot:last-child {
    margin-bottom: 0;
}

/*CollapseMEnu*/
.collapseMenu {
    visibility: collapse;
    position: absolute;
}

.active {
    visibility: visible;
}


